# Python Package Requirements

In [1]:
# Requirements:
## - Install the following python packages:
###  - `pip3 install cubes sqlalchemy flask pandas`

# Create Schema and Load Data

In [2]:
from sqlalchemy import create_engine
from cubes.tutorial.sql import create_table_from_csv
engine = create_engine("sqlite:///data.sqlite")
create_table_from_csv(engine,
                     "../data/Table_E.csv",
                     table_name="nyc_restaurants",
                     fields=[
                        ("name", "string"),
                        ("address", "string"),
                        ("zipcode", "string"),
                        ("cuisine", "string"),
                        ("price", "string"),
                        ("violation_code", "string"),
                        ("critical_flag", "string"),
                        ("grade", "string"),
                        ("median_household_income", "integer"),
                        ("median_real_estate_value", "integer"),
                        ("population_density", "integer"),
                        ("cost_of_living", "integer"),
                        ("population", "integer"),
                        ("neighborhood", "string"),
                        ("borough", "string")
                     ],
                     create_id=True)
print('Created schema and loaded data.')

Created schema and loaded data.

# Create OLAP Cube

In [3]:
from cubes import Workspace
workspace = Workspace()
workspace.register_default_store("sql", url="sqlite:///data.sqlite")
workspace.import_model("olap_model.json")
browser = workspace.browser("nyc_restaurants")
print('Created OLAP cube.')

Created OLAP cube.

# Aggregation by borough

In [4]:
import pandas
result = browser.aggregate(drilldown=["area:borough"])
print('Aggregation results:')
print("Borough, Number of Restaurants")
for record in result:
    print(record['area.borough'], ",",record['num_restaurants'])

Aggregation results:
Borough, Number of Restaurants
Bronx , 519
Brooklyn , 1846
Manhattan , 1821
Queens , 1078
Staten Island , 296

# Aggregation by neighborhood

In [5]:
result = browser.aggregate(drilldown=["area:neighborhood"])
print('Aggregation results:') 
print("Neighborhood, Number of Restaurants")
for record in result:
    print(record['area.neighborhood'], ",",record['num_restaurants'])

Aggregation results:
Neighborhood, Number of Restaurants
Bronx Park and Fordham , 103
Central Bronx , 23
High Bridge and Morrisania , 36
Hunts Point and Mott Haven , 38
Kingsbridge and Riverdale , 62
Northeast Bronx , 77
Southeast Bronx , 180
Borough Park , 136
Bushwick and Williamsburg , 172
Canarsie and Flatlands , 82
Central Brooklyn , 239
East New York and New Lots , 54
Flatbush , 105
Greenpoint , 207
Northwest Brooklyn , 442
Southern Brooklyn , 191
Southwest Brooklyn , 133
Sunset Park , 85
Battery Park , 3
Central Harlem , 88
Chelsea and Clinton , 260
East Harlem , 83
Gramercy Park and Murray Hill , 181
Greenwich Village and Soho , 273
Inwood and Washington Heights , 201
Lower East Side , 212
Lower Manhattan , 206
Upper East Side , 120
Upper West Side , 194
Central Queens , 31
Jamaica , 105
North Queens , 185
Northeast Queens , 67
Northwest Queens , 172
Southeast Queens , 71
Southwest Queens , 97
West Central Queens , 129
West Queens , 221
Mid-Island , 55
Port Richmond , 57
South Shore , 106
Stapleton and St. George , 78

# Aggregation by zipcode

In [6]:
result = browser.aggregate(drilldown=["area:zipcode"])
print('Aggregation results:')
print("Zipcode, Number of Restaurants")
for record in result:
    print(record['area.zipcode'], ",",record['num_restaurants'])

Aggregation results:
Zipcode, Number of Restaurants
10458 , 40
10467 , 39
10468 , 24
10453 , 11
10457 , 8
10460 , 4
10451 , 22
10452 , 7
10456 , 7
10454 , 9
10455 , 15
10459 , 9
10474 , 5
10463 , 44
10471 , 18
10466 , 20
10469 , 19
10470 , 13
10475 , 25
10461 , 48
10462 , 57
10464 , 20
10465 , 21
10472 , 23
10473 , 11
11204 , 31
11218 , 60
11219 , 18
11230 , 27
11206 , 58
11221 , 33
11237 , 81
11234 , 42
11236 , 32
11239 , 8
11212 , 20
11213 , 22
11216 , 63
11233 , 22
11238 , 112
11207 , 21
11208 , 33
11203 , 24
11210 , 28
11225 , 43
11226 , 10
11211 , 104
11222 , 103
11201 , 153
11205 , 50
11215 , 93
11217 , 79
11231 , 67
11223 , 58
11224 , 16
11229 , 48
11235 , 69
11209 , 61
11214 , 61
11228 , 11
11220 , 64
11232 , 21
10282 , 3
10026 , 19
10027 , 48
10030 , 11
10037 , 2
10039 , 8
10001 , 56
10011 , 53
10018 , 39
10019 , 61
10036 , 51
10029 , 62
10035 , 21
10010 , 28
10016 , 68
10017 , 22
10022 , 63
10012 , 93
10013 , 107
10014 , 73
10031 , 45
10032 , 58
10033 , 37
10034 , 35
10040 , 26
10002 , 108
10003 , 72
10009 , 32
10004 , 50
10005 , 16
10006 , 20
10007 , 43
10038 , 74
10280 , 3
10021 , 24
10028 , 49
10044 , 2
10128 , 45
10023 , 35
10024 , 81
10025 , 78
11365 , 8
11366 , 11
11367 , 12
11412 , 5
11423 , 5
11432 , 51
11433 , 4
11434 , 25
11435 , 15
11354 , 76
11355 , 47
11356 , 14
11357 , 15
11358 , 31
11360 , 2
11361 , 31
11362 , 16
11363 , 4
11364 , 16
11101 , 20
11102 , 18
11103 , 45
11104 , 29
11105 , 28
11106 , 32
11004 , 10
11040 , 5
11411 , 5
11413 , 14
11422 , 11
11426 , 7
11427 , 6
11428 , 5
11429 , 8
11414 , 9
11415 , 11
11416 , 9
11417 , 16
11418 , 9
11419 , 19
11420 , 8
11421 , 16
11374 , 18
11375 , 36
11379 , 10
11385 , 65
11368 , 20
11369 , 6
11370 , 6
11372 , 75
11373 , 66
11377 , 33
11378 , 15
10314 , 55
10302 , 20
10303 , 11
10310 , 26
10306 , 41
10307 , 6
10308 , 12
10309 , 15
10312 , 32
10301 , 30
10304 , 12
10305 , 36